*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background: #14144b;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    padding: 30px;
    border-radius: 10px;
    margin: 100px auto 0;
}
.title{
    color: #14144b;
    font-size: 25px;
    padding: 0 0 15px 0;
    border-bottom: solid 2px #333;
    margin-bottom: 20px;
}
.quiz h2{
    color: #14144b;
    font-size: 17px;
    padding-bottom: 10px;
}

.quiz button{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 8px;
    text-align: justify;
    border: none;
    outline: solid 1px #14144b;
}
.next{
    display: block;
    padding: 8px 50px;
    background: #14144b;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    border: none;
    color: #fff;
    margin-top: 10px;
}