*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background: #14144b;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 620px;
    padding: 25px;
    border-radius: 8px;
    margin: 100px auto 0;
}
.title{
    color: #14144b;
    font-size: 25px;
    padding: 0 0 15px 0;
    border-bottom: solid 2px #333;
    margin-bottom: 20px;
}