*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background: #14144b;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    padding: 30px;
    border-radius: 10px;
    margin: 100px auto 0;
}
.title{
    color: #14144b;
    font-size: 25px;
    padding: 0 0 15px 0;
    border-bottom: solid 1px #333;
    margin-bottom: 30px;
    font-weight: 600;
}
.quiz h2{
    color: #14144b;
    font-size: 18px;
   font-weight: 600;
}
.quiz{
    padding: 20px 0;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border-radius: 5px;
    margin:10px 0;
    padding: 10px;
    text-align: justify;
    border: solid 1px #14144b;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover{
    background: #222;
    color: #fff;
}
.next-btn{
    display: block;
    padding: 10px;
    width: 150px;
    background: #14144b;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto 0;
    border: none;
    color: #fff;
    font-weight: 500;
    transition: all 0.3s;
}
.next-btn:hover{
    background-color: #161666;
    color: #fff;
}